<button mat-button routerLink="/">Back</button>
<mat-card>
  <p>
    <span>Count portions :  <b>{{countPortions}}</b></span>
    <mat-slider (input)="onCountChange($event.value)"
                thumbLabel
                tickInterval="1"
                min="1"
                max="10"></mat-slider>
  </p>
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile *ngFor="let item of order; let i=index">
      <mat-card>
        <h1>{{item.title}}</h1>
        <h3>{{item.price}} UAH</h3>
        <img mat-card-image src="{{img}}" alt="img">
        <p>
          <span>Count sugar :  <b>{{item.sugar}}</b></span>
          <mat-slider (input)="addSugar($event.value, i)"
                      thumbLabel
                      tickInterval="1"
                      min="0"
                      max="5"></mat-slider>
        </p>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<button mat-button routerLink="/">Add to basket</button>


